<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Futura Pruebas</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css"
    />

    <style media="screen">
      #data,
      #heading,
      #logout,
      #table-forms,
      #table-leads {
        display: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Futura Pruebas</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarPlay"
        aria-controls="navbarPlay"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarPlay">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <a id="logout" href="#" onclick="logout()">Cerrar Sesión</a>
        <fb:login-button
          id="fb-btn"
          scope="public_profile,email,leads_retrieval,pages_show_list"
          onlogin="checkLoginState();"
        >
        </fb:login-button>
      </div>
    </nav>

    <div class="container">
      <div id="form" class="form mt-5">
        <form>
          <div class="form-group">
            <label for="app">App ID</label>
            <input type="text" class="form-control" id="app" />
          </div>
          <button
            disabled
            id="button_iniciar"
            type="submit"
            class="btn btn-primary"
            @onClick="iniciarFbLogin()"
          >
            Ingresar
          </button>
        </form>
      </div>
      <h3></h3>
      <h3 id="heading">Inicia Sesión</h3>
      <div id="data">
        <h4 id="table-title">Páginas</h4>
        <table id="table-pages" class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <script id="item-row" type="text/template">
              <tr id='{{row-id}}'>
                <th scope="row">{{index}}</th>
                <td>{{name}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" onclick="selectPage('{{item-id}}')">Seleccionar</button>
                </td>
              </tr>
            </script>
          </tbody>
        </table>
        <table id="table-forms" class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <script id="item-row" type="text/template">
              <tr id='{{row-id}}'>
                <th scope="row">{{index}}</th>
                <td>{{name}}</td>
                <td>{{status}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" onclick="selectForm('{{item-id}}')">Seleccionar</button>
                </td>
              </tr>
            </script>
          </tbody>
        </table>
        <table id="table-leads" class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Contenido</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <script id="item-row" type="text/template">
              <tr id='{{row-id}}'>
                <th scope="row">{{index}}</th>
                <td>{{body}}</td>
                <td>{{created_time}}</td>
              </tr>
            </script>
          </tbody>
        </table>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
